<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GDGC Linky</title>
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-home">
        <img
          src="assets/public/gdg-logo.png"
          alt="GDGC Linky"
          class="navbar-logo"
        />
        <a href="/" class="navbar-brand">GDGC Linky</a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
